

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/user/cart.css">
    <title>Shopping Cart</title>
</head>
<body>

    <div class="cart-container">
        <div class="cart-header">
            <h2>Shopping Cart</h2>
        </div>
        <%if(cartItems?.length===0) {%>
            <h1>ITEMS NOT ADDED INTO CART</h1>
        <%} else { %>
            <% 
                let totalAmount = 0; 

                cartItems.forEach(product => {
                   
                    const itemTotal = product.PDprice * product.totalQuantity;
                    totalAmount += itemTotal;
            %>
            <div class="cart-item">
                <img src="/<%=product.imagePath %>" alt="Product 1">
                <div class="cart-item-details">
                    <h3><%=product.PDname %></h3>
                    <p>Price: <%=product.PDprice %></p>
                    <p>Description: <%=product.PDdiscription %></p>
                    <p>Quantity: <%=product.totalQuantity %></p>
                    <p>Total of this product : <%= itemTotal.toFixed(2) %></p>
                </div>
               <div class="fm">
                    <% if(product.totalQuantity>1) { %>
                        <form action="/user/decrease" method="post">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button type="submit">Decrease Quantity</button>
                        </form>
                       <% } %> 
                    <form action="/user/delete" method="post">
                        <input type="hidden" id="inp" name="productId" value="<%= product._id %>">
                        <button type="submit" onclick="conformation(event)">Delete</button>
                    </form>
               </div>
            </div>
            <% }); %>
            <div class="cart-total">
                <p>Total: <%=totalAmount.toFixed(2) %></p> <!-- Display total amount -->
            </div>
           <%}%>     
        <div class="cart-actions">
            <button><a href="/user/home">Checkout</a></button>
        </div>
    </div>



    <script src="/public/javascript/cart.js"></script>
</body>
</html>
