
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/public/css/user/home.css">
    <script src="https://kit.fontawesome.com/d6033e8079.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <header>
        <h1>Product List</h1>
        <nav>
            <div class="topbar" >
                <button><a href="">Home</a></button>
                <button><a href="/user/cart">View Cart</a></button>
                <button><a href="">Categories</a></button>
            </div>
            <div class="topbar">
                <button><a href="/user/logout">Logout</a></button>
                <!-- <button><a href="/user/profile"><i class="fa-solid fa-user-tie"></i></a></button> -->
                <button><a href="/user/showProfile"><i class="fa-solid fa-user-tie"></i></a></button>
            </div>
        </nav>
    </header>
    
    <div class="pddetails">
        <%if(products.length === 0 ) {%>
            <h1>CURRENTLY PRODUCTS NOT AVAILABLE</h1>
            <%}%>
        <% products.forEach(product => { %>
            <div class="product-container">
                <img src="/<%= product.imagePath %>" alt="<%= product.name %> Image">
                <div class="product-info">
                    <div class="name-price">
                        <h2><%= product.name %></h2>
                        <h2>$<%= product.price %></h2>
                    </div>
                    <p><%= product.description %></p>
                    <div class="details-cart">
                        <button onclick="AddToCart(event,'<%= product._id %>')">Add to cart</button>
                        <button>Full details</button>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <script src="/public/javascript/home.js"></script>
</body>
</html>
