<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>User Profile</title>
    <link rel="stylesheet" href="/public/css/user/showProfile.css">
</head>
<body>
    <div class="profile-container">
       <div class="" style="display: flex; align-items: center;">
        <img class="profile-picture" src="/public/uploads/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" alt="Profile Picture">
        <h3><%=love[0]?.mail%></h3>
       </div>
       <div class="profile-details">
        <table>
            <tr>
                <td><strong>Username</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.name) { %>
                        <%= love[0].fulldetails[0].name %>
                    <% } else { %>
                        <span>Username not added</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.adrees) { %>
                        <%= love[0].fulldetails[0].adrees %>
                    <% } else { %>
                        <span>Address not added</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><strong>Place</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.place) { %>
                        <%= love[0].fulldetails[0].place %>
                    <% } else { %>
                        <span>Place not added</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><strong>Phone</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.phone) { %>
                        <%= love[0].fulldetails[0].phone %>
                    <% } else { %>
                        <span>Phone Number not added</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><strong>District</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.district) { %>
                        <%= love[0].fulldetails[0].district %>
                    <% } else { %>
                        <span>District not added</span>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>
                    <% if (love[0].fulldetails[0]?.state) { %>
                        <%= love[0].fulldetails[0].state %>
                    <% } else { %>
                        <span>State not added</span>
                    <% } %>
                </td>
            </tr>
        </table>
        <div class="" style="margin-left: 40px; margin-top: 30px; display: flex; justify-content: space-around;">
            <% if (love[0].fulldetails[0]) { %>
                <button class="btns"><a href="/user/profile">Edit Details</a></button>
            <% } else { %>
            <button class="btns"><a href="/user/profile">Add Details</a></button>
            <% } %>
            <button class="btns"><a href="/user/home"> Back to Home</a></button>
        </div>
    </div>

    </div>
</body>
</html>
